%h1  This is index!!

- @articles.each do |article|
	%h2= article.title
	%p
		Published ad
		= article.created_at.strftime('%b %d, %Y')
	%p= truncate(article.content, length: 220)

= link_to "New Article", new_article_path